/* Genel Stil */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Container için düzenleme */
#container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Sol Panel */
#personelPanel {
    width: 300px;
    padding: 20px;
    background-color: #f0f2f5;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    flex-shrink: 0;
}

/* Personel Bilgileri */
#personelListesi {
    margin-top: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0984e3;
    color: white;
}

td {
    font-size: 14px;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e74c3c;
}

/* Butonları Yanyana Yerleştirme */
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Butonlar */
.btn {
    background-color: #0d4067;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.btn:hover {
    background-color: #7476ff;
}

/* Harita Konteyneri */
#mapContainer {
    flex: 1;
    position: relative;
    display: block;  /* 'flexbox' yerine 'block' olarak değiştirildi */
    height: 100%;
}

/* Harita */
#map {
    width: 100%;
    height: 100%;
}

/* Gösterilen Mesafe Bilgileri */
.mesafe-label {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    color: #000;
    text-align: center;
}

.mesafe-icon {
    background-color: transparent;
    border: none;
}
